<div id = page>
    <header>
        Notes by Hawkar
    </header>
    <main>
        <h1>This is the FAQ Page.</h1>
        <p>here are FAQ posts</p>
    </main>
    <footer>
        Made by Hawkar J
    </footer>
</div>
